/* HEADER */
.div-header {
  background-color: rgba(255,165,0,255);
}



/* ----------------------- */


/* SLIDE-BODY */
.logo {
  color: rgba(255,165,0,255);
  font-size: 30px;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.slogan {
  color: rgba(255,165,0,255);
  font-style: italic;
}
/* INTRODUCE PIZZA */
/* Title Introduce*/
.title {
  color: rgba(255,165,0,255);
  /* Border */
  border-style: solid;
  border-width: 2px;
  border-left: 0ch;
  border-right: 0ch;
  border-top: 0ch;
  padding: 6px;
  border-color: rgba(255,165,0,255);
  opacity: 1;
}
.title:hover {
  color:  rgb(0, 0, 0);
  /* Border */
  border-style: solid;
  border-width: 2px;
  border-left: 0ch;
  border-right: 0ch;
  border-top: 0ch;
  padding: 6px;
  border-color: rgb(0, 0, 0);
  opacity: 0.5;
}

/* Body Introduce */
.text-box {
  font-size: 15px;
  color: rgb(63, 60, 60);
}

/* CHỌN PIZZA */
/* Title chọn pizza */
.title-2 {
  color: rgba(255,165,0,255);
  margin-top: 15px;
}

/* Card - Price */
.price {
  font-size: 35px;
}



/* ----------------------- */


/* FOOTER */
/* ICON */
.icon {
  font-size: 13px;
}

.text-p {
  font-size: 12px;
}


